@model Grade

@{
    ViewData["Title"] = "Edit Grade";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-3 card p-3">
        <h2 class="text-center text-info">Edit Grades</h2>
        <form asp-action="EditGrade" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <input type="hidden" asp-for="Grd_id" />

            <div class="mb-1">
                <label asp-for="Grd_Type" class="control-label"></label>
                <select asp-for="Grd_Type" class="form-control">
                    <option value="">-- Select Grade --</option>
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
                <span asp-validation-for="Grd_Type" class="text-danger"></span>
            </div>
            <div class="row mt-2 justify-content-center align-items-center">

                <div class="col-4">
                    <input type="submit" value="Edit Grade" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
