@model Term

@{
    ViewData["Title"] = "Edit Term";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-3 card p-3">
        <h2 class="text-center text-info">Edit Term</h2>
        <form asp-action="EditTerm" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <input type="hidden" asp-for="Trm_id" />

            <div class="mb-1">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="row mt-2 justify-content-center align-items-center">

                <div class="col-4">
                    <input type="submit" value="Edit Term" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
