@model Subject

@{
    ViewData["Title"] = "Edit Subject";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-3 card p-3">
        <h2 class="text-center text-info">Edit Subject</h2>
        <form asp-action="EditSubject" method="post">
            <div asp-validation-summary="ModelOnly"></div>


            <input type="hidden" asp-for="Sbj_id" />

            <div class="mb-1">
                <label asp-for="Sbj_Name" class="control-label"></label>
                <input asp-for="Sbj_Name" class="form-control" />
                <span asp-validation-for="Sbj_Name" class="text-danger"></span>
            </div>

            <div class="row mt-2 justify-content-center align-items-center">

                <div class="col-4">
                    <input type="submit" value="Edit Subject" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
